body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #555;
}

h3 {
    text-align: center;
    margin-top: 20px; /* שולי עליון קטנים יותר */
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
    display: block; /* ודא שהאלמנט מוגדר כבלוק */
    width: 100%;
    clear: both; /* ביטול השפעה של אלמנטים אחרים */
}

ul {
    list-style-type: none; /* ביטול הנקודות ברשימה */
    text-align: center; /* מיקום במרכז */
    padding: 0;
    margin: 0 auto; /* מוודא שהרשימה ממורכזת */
    display: inline-block; /* הופך את הרשימה לאלמנט במרכז */
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
