/* כל העמוד */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center; /* מרכז את כל התוכן אופקית */
    height: 100vh; /* גובה כל הדף */
    text-align: center;
}

/* קונטיינר לכל התוכן */
.container {
    width: 80%;
}

/* כותרת ראשית */
h1 {
    margin-bottom: 20px;
}

/* כותרת פרויקטים */
h2 {
    margin-bottom: 10px;
    color: #555;
}

/* תת-כותרת */
.project-section h3 {
    margin: 20px 0;
    color: #000; /* שחור */
    font-weight: bold;
}

/* רשימת פרויקטים */
.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    margin: 10px 0;
}

/* קישורים */
a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
